.main{

    width: 100%;
    display: flex;
    justify-content: center;
}
.grid{
    display: flex;
 
    justify-content: center;
    flex-direction:row;
   
   
    
}

.hover{
    background-color: black;
}

#chooseGrid{
    width: 50px;
    height: 20px;
}

