
.parentC{
    display: flex;
    justify-content: space-around;

    .grid{
        display: grid;
        width: 500px;
        height: 300px;
        background-color: lightgray;
        padding: 10px;  
    }

  

}
.parentC :first-child{
    display: block;
}
.grid > div{
    border: 0.001px solid black;
    background-color: lightgray;
    text-align: center;
  }
#image{
    width: 20px;
    height: 20px;
}


#chooseGrid{
    width: 50px;
    height: 20px;
}

